@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  @keyframes banner {
    from {
      background-position-x: 0px;
      background-size: 105%;
    }

    50% {
      background-position-x: 30px;
      background-size: 115%;
    }

    to {
      background-position-x: 0px;
      background-size: 105%;
    }
  }

  #banner {
    animation: banner 30s ease-in-out infinite;
  }
}

body {
  color: white;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.bg-principal {
  height: 100%;
  background-color:#222222;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;

}

.detail-gradient{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #222222 , transparent 90%);
}

.other-gradient{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #FFA400 , transparent 90%);
}

.gradient-v {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #222222 5%, transparent 10%);
}

.gradient-h {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #222222 1%, transparent 60%);
}

.scroll-gradient{
  width: inherit;
  height: inherit;
  background: linear-gradient(to bottom, black 3%, transparent);
  opacity: 75%;
}

.nav-gradient{
  box-shadow: 0 5px 15px 5px rgba(0,0,0,0.8)
}

.Arrow{
  position: absolute;
  z-index: 40;
  display: flex;
  opacity: 0;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-top: 14px;
  height:165px;
}
.rotate-favorite{
  transform: rotate(0);
}
.rotate-favorite:hover{
  transform: rotate(360deg);
}

.beforeContent::before {
  content: 'Ordenar por';
}

.AnimeRow:hover{
  transition: all ease 1s;
  .Arrow{
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000
}

::-webkit-scrollbar-thumb {
  background: #FFA400;
}